{% extends "::layout/layout.html.twig" %}
{% block body %}

    <div class="container">
        <div class="row">
                <table>
                {% for key, produit in produits %}
                    <tr bgcolor ="green">
                        <td cols="4">{{key}}</td> 
                         <td >{{produit.nom}}</td>
                         <td >{{produit.description}}</td>
                         <td >{{produit.prix}}</td>
                    </tr>
                {% endfor %}

        </div>
    </div>


{% endblock %}